h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    background-color: chocolate ;
    color: white;
}

li {
    font-weight: 800;
    padding: 10px;
}

